.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom: 30px;
}
.user-bg {
    margin: -25px;
    height: 230px;
    overflow: hidden;
    position: relative;
}
.user-bg .overlay-box {
    background: #707cd2;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
}
.user-bg .overlay-box .user-content {
    padding: 15px;
    margin-top: 30px;
}
.user-bg .overlay-box .user-content .thumb-lg {
    height: 88px;
    width: 88px;
    border-radius: 50%;
}
.border-bottom {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13) !important;
}
.p-0 {
    padding: 0 !important;
}
.form-horizontal .form-group label {
    font-weight: 500;
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.page-title{
    padding: 20px;
    display: flex;
}

